*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration:underline;
  }
  
  a:active {
    text-decoration: none;
  }
h1{
    font-size:5em;
    color: #c53211;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}
h2{
    font-size:2em;
    color: #e6dbc9;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;

}
a:hover{
    text-decoration: none;

}
h3{
    font-size:1.5em;
    color: #e6dbc9;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;

}
h4{
    color: #e6dbc9;
    font-size:2em;
}
h5{
    color: #e6dbc9;
    font-size: 1.5em;
}
h6{
    color: #2e3830;
    font-size: 3em;
    text-align: left;


}
p{
    color: #2e3830;
    font-size:2em;
    line-height: 1.3;
    margin-top:1em;
    text-align: left;
}
body{
    background-color: #2e3830;
    overflow: scroll;
    background-color: transparent;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../img/index/cond1.jpg);

}
.policy_popup{
    height:70px;
    background-color: #2e3830;
    color:#e6dbc9;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#policy_agree_btn{
    height:60%;
    width:auto;
    border:1px solid #e6dbc9;
    background-color: #c53211;
    font-size:80%;
    color:#e6dbc9;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:14px;
    width:110px;
    text-align: center;
    padding: 9px 0;

}
#cookie_txt{
    width:80%;
    padding:0.5em;
    cursor: pointer;
}
#policy_agree_btn:hover{

    border:1px solid #c53211;
    background-color: #e6dbc9;
    color:#c53211;
}
#policy_modal_container{
    height:90vh;
    width:100%;
    display: none;
}
#close_btn{
    height:40px;
    width:auto;
    border:1px solid #e6dbc9;
    background-color: #c53211;
    font-size:14px;
    color:#e6dbc9;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:14px;
    margin-top:-10px;
    width:110px;
    text-align: center;
    padding-top:10px;
    margin-left:5%;
    margin-bottom:10px;
}
#close_btn:hover{

    border:1px solid #c53211;
    background-color: #e6dbc9;
    color:#c53211;
}
#policy_modal{

    width:75%;
    height:auto;
    margin:5vh 12.5%;
    background-color: #e6dbc9;
    color:#2e3830;
    padding-bottom: 15px;
    margin-top: 2vh;
}
#policy_modal > h3{
    color:#c53211;
    text-shadow: none;
}
#policy_modal>p{
    font-size:1em;
    margin:5%;
}
#modal_heading{
    background-color: #c53211;
    color:#e6dbc9;
    height:auto;
    padding-top:2.5vh;
    font-size:0.8em;
}
#modal_heading>h2{
    margin:5% 0;
    text-align: center;
}
.head_img{
    min-height: 660px;
    height:92vh;
    background-color: transparent;

}

.wrapper{
    width:90%;
    margin:0 5%;
    background-color:#e6dbc9;
    height:2500px;
    padding-top:1em;
    border:5px solid #c53211;
    border-top:none;
    border-bottom:none;
    min-width: 340px;


}
.button{
    margin-left:50%;
    margin-top:2em;
    height:70px;
    width:150px;
    border:2px solid #c53211;
    background-color: #2e3830;
    font-size: 1.5em;
    color:#e6dbc9;
    cursor: pointer;
    padding:13px;
    
}
.button:hover{
    border:2px solid #c53211;
    color:#2e3830;
    background-color: #e6dbc9;
}
.main_headings{
    margin-bottom:50vh;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 1em;
    width:95%;
    margin:0 2.5%;
    
}
iframe{height:100%;width:100%;
border: none;}
#calendar{
    grid-column: 1/2;
}
#news_link{
    background-image: url(../img/index/news.jpg);
    grid-column: 3/4;
    grid-row:1/2;
    padding:1em;
    transition: filter .2s ease-in-out;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;

}
#news_link:hover{
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
}
#player{
    height:40vh;
    width:50%;
    margin: 50px 25%;
}
#about_us{
    grid-column: 2/3;
    grid-row:1/3;
    background-image: url(../img/index/about_us.jpg);
    background-size: cover;
    background-position: left bottom;
    padding:2em;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   cursor: pointer;
}
#about_us:hover{
    opacity: 0.8;
}
#band{
    grid-row:2/3;
    grid-column: 3/4;
    background-image: url(../img/index/band.jpg);
    background-size: cover;
    background-position: center;
    padding-top:130px;
    padding-left:1em;
    transition: filter .2s ease-in-out;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    cursor: pointer;
}
#band:hover{
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
}
#contact_us{
    grid-row:2/3;
    grid-column: 1/2;
    background-image: url(../img/index/contact_us.jpg);
    background-size: cover;
    background-position: bottom;
    padding:1em;
    transition: filter .2s ease-in-out;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    cursor: pointer;
}
#contact_us:hover{
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
}

/* Slideshow container */
.slideshow-container {
    
    width:95%;
    margin:20px 2.5%;
    box-sizing:border-box;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    height:60vh;

    
  }
  .slidepics{
    height:60vh;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    width:90%;

  }
  #slide1{
      background-image: url(../img/index/cond2.jpg);
      background-position: center;

  }
  #slide2{
    background-image: url(../img/index/angelovaconcert.jpg);
    background-position: center;

  }
  #slide3{
    background-image: url(../img/index/head.jpg);
    background-position: bottom;

  }
  #slide4{
    background-image: url(../img/index/botevgrad.jpg);
    background-position: center;

  }

  /* Next & previous buttons */
  .prev {
    float: left;
    height: 60vh;
    width:5%;
    font-size: 20px;
    text-align: center;    
    padding-top:30vh;


  }

  /* Position the "next button" to the right */
  .next {
    float: right;
    height: 60vh;
    width:5%;
    font-size: 15px;
    text-align: center;
    font-size: 20px;
    padding-top:30vh;

  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #b1a99d;    
    cursor: pointer;

    color:#e6dbc9;
    transition: 0.6s ease;

    
  }
  
  /* Caption text */
  .text {
      min-height: 7vh;
      background-color:#2e3830 ;
    color: #e6dbc9;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    height:auto;
    margin-top:53vh;
    border-top: 1px solid #e6dbc9;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #c53211;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 4em 2px 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #c53211;
  }
  .dot:hover{
      background-color: #2e3830;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 300px 300px;
    margin-top:2em;
    padding-left:2em;
}
#top_pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    grid-column: 1/3;
    grid-row:1/2;
    grid-gap: 1em;
    
}
#img1{
    background-image: url(../img/index/24_may_top.jpg);
    background-size: cover;
    background-position: center;
    margin:1.5em 0;
}
#img2{
    background-image: url(../img/index/top_chrismas.jpg);
    background-size: cover;
    background-position: center;
    margin:1.5em 0;

}
#img3{
    background-image: url(../img/index/sud.jpg);
    background-size: cover;
    background-position: center;
    margin:1.5em 0;

}
#side_pic{
    background-image: url(../img/index/24_may_side.jpg);
    background-size: cover;
    background-position: center;
    margin:1.5em 1em;
    grid-row:1/4;
    background-color: #000000;
}
#side_pic:hover{
    filter: contrast(120%);
    transition: filter .2s ease-in-out;

}

#article{
    grid-row:2/4;
    grid-column: 1/3;
    padding-right:1.5em;
}
footer{
    border-top:5px solid #c53211;
    margin-top:50px;

}
a{
    cursor: pointer;
}


@media  (max-width: 1500px) {
    #article>p{
        font-size:1.5em;
    }
    .wrapper{
        height: 2500px;
    }
}
@media(max-width:1150px){
    h2{
        font-size:1.5em;
    
    }
    .head_img{
        overflow: hidden;
    }
    h1{
        margin-top:400px;
        font-size:3em ;

    }
}
@media(max-width:900px){
   
    nav{
        overflow: hidden;
    }
    #footer{
        overflow: hidden;

    }
    #head_img{
        min-height: 650px;

    }

    
}
@media  (max-width: 750px) {
    #policy_modal{
        width:100%;
        margin: 1vh 0; 
        height:auto;
    }
    .about{
        grid-template-rows: auto 300px 300px 250px;
        grid-template-columns: 1fr  1fr;
        padding-left:1em;
    }
    .wrapper{
        height:3000px;
    }
    
    #article{
        grid-row:2/5;
        grid-column: 1/3;
    }
    #side_pic{
        grid-row:1/2;
        grid-column: 1/3;
        height:250px;
        background-position: center;

    }
    #top_pics{
        grid-template-columns: 1fr;
        grid-template-rows: 200px 200px 200px;
        padding-right:1em;
        grid-row:5/6;
    }
    #top_pics>div{
        margin:0;
    }
    p{
        font-size:1.5em;
        text-align: center;
    }
    h4{
        color: #e6dbc9;
        font-size:1.5em;
    }
    h5{
        color: #e6dbc9;
        font-size: 1em;
    }
    h6{
        text-align: center;

    }
}

@media  (max-width: 666px) {
    .policy_popup{
        font-size: 12px;
        margin-bottom: -70px;
    }


}
    @media  (max-width: 600px) {

        .slideshow-container {
            min-height: 350px;
        }


       .wrapper{
           height:4200px;
       }
       .menu{
           grid-auto-rows:250px;
       }
        #calendar{
         grid-column: 1/4;
         grid-row:1/3;
         margin-top:1em;

        }
        #calendar>div{
            height:190px;

        }
        #news_link{
            grid-column: 1/4;
            grid-row:3/4;
            margin-top:5em;
        }
        #about_us{
            grid-column: 1/4;
            grid-row:4/5;
        }
        #contact_us{
            grid-column: 1/4;
            grid-row:5/6;
        }
        #band{
            grid-column: 1/4;
            grid-row:6/7;
        }
    }

    @media  (max-width: 500px) {
        h1{
            font-size:3em;
           
        }
  
        h3{
            font-size:1.2em;
        
        }
        h4{
            font-size:1.5em;
        }
        h5{
            font-size: 1.2em;
        }
        h6{
            font-size: 2em;

        
        }
        #article>p{
            font-size:1em;

        }
        p{
            font-size:1em;

        }
        #article{
            height:500px;
        }
        #top_pics{
            margin-top:-350px;
        }
        .wrapper{
            height:4000px;
        }
    }
    @media  (max-width: 270px) {
        #article{
            grid-row:2/6;
            grid-column: 1/3;
        }
        #top_pics{
            grid-row:6/7;
        }
    }


